*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html,body{
    height: 100%;
    background-color: #F6F6F9;
}

.w100{
    width: 100%;
}

.w50{
    width: 49%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}

.content{
    width: calc(100% - 300px);
    float: right;
    margin-top: 47px;
    padding: 15px;
}

@media screen  and (max-width: 768px){
    .content{
        width: 100%;
        left: 0;
    }
}

.box-content{
    margin: 0 auto;
    background: white;
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 0.375rem;
    max-width: 575px;
}

.error{
    text-align: center;
    font-size: 13px;
    line-height: 1.4;
    font-weight: 600;
    color: rgb(218, 86, 86);
    margin-bottom: 15px;
}

.succsess{
    text-align: center;
    font-size: 13px;
    line-height: 1.4;
    font-weight: 600;
    color: rgb(86, 218, 95);
    margin-top: 15px;
}

.form-register{
    padding: 15px;
    margin: 0 auto;
}

.form-register input[type=text],
.form-register input[type=password]{
    width: 100%;
    height: 60px;
    padding-left: 30px;
    box-shadow: 0px 3px 1px #D3D8E067;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
}

.form-register input[type=text]{
    margin-bottom: 17px;
}

.form-register input[type=password]{
    margin-bottom: 17px;
}

.form-register input[type=submit]{
    margin-top: 15px;
    width: 100%;
    height: 60px;
    color: white;
    cursor: pointer;
    background: #444294 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 1px #2B2962;
    border-radius: 10px;
    font: normal normal bold 17px/23px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.form-register a{
    margin-top: 17px;
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 60px;
    padding: 15px 0;
    text-align: center;
    font: normal normal bold 17px/23px Montserrat;
    letter-spacing: 0px;
    color: #444294;
}

.form-register select{
    width: 40%;
    height: 60px;
    padding-left: 30px;
    box-shadow: 0px 3px 1px #D3D8E067;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    margin-bottom: 17px;
    margin-left: 20px;
}

.form-register label{
    font: normal normal bold 17px/23px Montserrat;
}

