header{
    position: fixed;
    left: 300px;
    padding: 10px 0;
    background: #c4c4c7;
    width: calc(100% - 300px);
}

.top-menu-center{    
    padding: 0 30px;
    margin: 0 auto;
}

.top-menu-inicio{
    float: left;
}

.top-menu-inicio a{
    font-size: 20px;
    margin-left: 20px;
    display: block;
    text-decoration: none;
    color: #454545;
}

.top-menu-inicio a:hover{
    font-weight: bold;
    color: #454545;
}

.top-menu-btn{
    float:left;
    cursor: pointer;
    font-size: 23px;
    color: #454545;
}

.top-menu-logout{
    float: right;
}

.top-menu-logout a{
    font-size: 20px;
    display: block;
    text-decoration: none;
    color: #454545;
}

.top-menu-logout i{
    font-size: 20px;
    margin-left: 10px;
}

.top-menu-logout a:hover{
    font-weight: bold;
    color: #454545;
}

/* SIDEBAR */

.sidebar{
    width: 300px;
    height: 100%;
    background: #DEDEE5;
    float: left;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    padding: 30px;
    left: 0;
    top: 0;
}

.sidebar-wrapper{
    width: 300px;
}

.menu-sidebar{
    text-align: left;
    display: inline-block;
}

.menu-sidebar h4{
    color: #454545;
    margin-bottom: 24px;
}

.menu-sidebar a{
    display: block;
    text-decoration: none;
    color: #454545;
}

.menu-sidebar a:hover{
    font-weight: bold;
    color: #454545;
}

.box-div{
    font-weight: bold;
    border-bottom: 1px solid #939398;
    width: fit-content;
    margin-bottom: 5px;
}

.register{
    margin-bottom: 5px;
}

.update{
    margin-bottom: 15px;
}

.user-box{
    text-align: center;
    margin-bottom: 24px;
}

.user-avatar{
    text-align: left;
    display: inline-block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 3px solid #454545;
}

.user-avatar i{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    font-size: 50px;
    color: #454545;
}

.user-name{
    text-align: center;
    margin-top: 10px;
}

.user-name p{
    color: #454545;
}

.user-name p:nth-of-type(1){
    font-size: 17px;
}

.user-name p:nth-of-type(2){
    font-size: 13px;
    font-weight: bold;
}

@media screen and (max-width: 768px){
    .sidebar{
        display: none;
    }
    header{
        left: 0;
        width: 100%;
    }
}

@media screen and (max-width: 400px){
    .sidebar-wrapper{
        width: 200px;
    }
}